html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Poppins-Regular.ttf";
    src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
body{
    font-family: "Poppins-Regular.ttf";
}
/* :::::::::: Landing Page begins ::::::::::::::::::::::::::::::::*/
.landing-page{
    height: 100vh;
    /*background: linear-gradient(to right, #263731, #386745);*/
    background: #263731;
}
/* ::::::::: Nav Bar Section Begins :::::::::::::: */
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > .logo{
    color: #FCFEFE;
    font-weight: bold;
    font-size: 2em;
    margin-left: 2em;
}
nav > .menu-items > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
nav > .menu-items > ul > li{
    list-style-type: none;
    position: relative;
}
nav > .menu-items > ul > li > a{
    color: #FCFEFE;
    text-decoration: none;
    margin-right: 2em;
    position: relative;
    font-weight: 500px;
    border-bottom: 3px solid transparent;
}
nav > .menu-items > ul > li > .active{
    cursor: pointer;
    border-bottom: 2px solid #FFFFFF;
}
nav > .menu-items > ul > li > a:hover{
    cursor: pointer;
    transform: scale(2.5);
    transition: 0.5s ease-in-out;
    border-radius: 1px;
    border-bottom: 2px solid #FFFFFF;
}
nav > .call-to-action{
    margin-right: 5em;
}
nav > .call-to-action > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav > .call-to-action > ul > li{
    list-style: none;
}
nav > .call-to-action > ul > li > button{
    padding: 0.4em 1.2em;
    outline: none;
    border: 2px solid #FCFEFE;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}
nav > .call-to-action > ul > li > .sign:hover{
    cursor: pointer;
    background-color: #386745 !important;
    border: 1px solid #386745;
}
nav > .call-to-action > ul > li > button > a{
    text-decoration: none;
    color: #FCFEFE;
}

/* :::::::: Mobile Nav bar starts ::::::::::::: */
.mobile-nav-bar{
    display: none;
    padding: 1em;
}

.mobile-nav-bar > #sideNav{
    width: 250px;
    background-color: #386745;
    height: 100vh;
    position: fixed;
    right:-250px;
    top:0;
    transition: 1s ease-in-out;
    color:#ffffff;
}
/* :::::::: Mobile Nav bar ends ::::::::::::: */
/* ::::::::: Nav Bar Section Ends :::::::::::::: */

/* ::::::::: Hero Section Ends :::::::::::::: */
.hero-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero-section > .hero-section-1{
    width: 60%;
    color: #FFFFFF;
    margin-left: 3.5em;
}
.hero-section > .hero-section-1 > div{
    background: #4D6656;
    height: 4vh;
    width: 27%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.hero-section > .hero-section-1 > div >  span{
    font-size: 1.2em;
}
.hero-section > .hero-section-1 > h1{
    font-size: 2.5em;
    font-weight: bold;
}
.hero-section > .hero-section-1 > p{
    font-size: 2em;
}
.hero-section > .hero-section-1 > .category{
    background: #4D6656;
    height: 7vh;
    width: 35%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:  3em;
}
.hero-section > .hero-section-1 > .category > select{
    background: #4D6656;
    outline: none;
    border: none;
    background: transparent;
}
.hero-section > .hero-section-1 > .category .shop{
    padding: 0.4em 2em !important;
    border: none !important;
}
.hero-section > .hero-section-1 > .category .shop:hover{
    cursor: pointer;
    background-color: #458f5a !important;
    border: 1px solid #458f5a !important;
}
.hero-section > .hero-section-1 > .category > .shop > a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
/*.hero-section > .hero-section-1 > img{
    width: 30%;
}*/
.hero-section > .hero-section-2{
    width: 40%;
}
.hero-section > .hero-section-2 > img{
    width: 100%;
}
/* ::::::::: Hero Section Ends :::::::::::::: */

/*:::::::::::: Social media link starts :::::::::::*/
.social-media{
    position: fixed;
    right: 0;
    bottom: 0;
}
.social-media > ul > li{
    font-size: 2em;
    list-style-type: none;
    color: #386745;
}
/*:::::::::::: Social media link ends :::::::::::::*/
.choose{
    height: 20vh;
}

/*:::::::::: Footer starts ::::::::::::::::::::::::*/
footer{
    height: auto;
    background-color:#263731;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
footer > div > h3{
    color: #386745;
    margin-top: 0.8em;
    font-weight: 900;
}
footer > .footer-4 > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer > .footer-4 > ul > li{
    list-style-type: none;
    margin-right: 1em;
}
/*:::::::::: Footer ends :::::::::::::::::::::::::*/


/*::::::::::::::::: About Page Starts :::::::::::::::::::*/
/* About us section starts */
.about-section > h2{
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}
.about-section > h5{
    text-align: center;
    /* margin-top: 0.8em; */
    font-weight: bold; 
    font-size: 2em; 
    color: #FFFFFF;
}
.about-section > .about-section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-section > .about-section-1 > p{
    color: #FFFFFF;
    margin-left: 5em;
}
.about-section > .about-section-1 > img{
    width: 12%;
    border-radius: 10px;
    margin-right: 5em;
}
.about-section > .about-section-2{
    display: flex;
    justify-content: space-between;
}
.about-section > .about-section-2 > p{
    color: #FFFFFF;
    margin-right: 5em;
}
.about-section > .about-section-2 > img{
    width: 12%;
    border-radius: 10px;
    margin-left: 5em;
}
/* About us section ends */
/* Team section starts */
.team{
    height: auto;

}
.team > h2{
    text-align: center;
    margin-top: 0.8em;
    font-weight: bold;
}
/* ::::: Row 1 Starts ::::::::::::*/
.team > .row-1{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 10px;
    margin-left: 7em;
}
.team > .row-1 > .box-1{
    height: auto;
    width: 60%;
    border: 1px solid #263731;
    box-shadow: 5px 5px 10px #386745;
    margin-bottom: 0.5em;
}
.team > .row-1 > .box-1 > img{
    width: 6em;
    height: 6em;
    border-radius: 100%;
    margin-left: 6em;
}
.team > .row-1 > .box-1 > h4{
    text-align: center;
}
.team > .row-1 > .box-1 > h3{
    text-align: center;
}
/* :::::: Row 1 ends ::::::::: */

/*::::::::::::: Row 2 starts :::::::::::: */
.team > .row-2{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 10px;
    margin-left: 7em;
}
.team > .row-2 > .box-2{
    height: auto;
    width: 60%;
    border: 1px solid #263731;
    box-shadow: 5px 5px 10px #386745;
    margin-bottom: 0.5em;
}
.team > .row-2 > .box-2 > img{
    width: 6em;
    height: 6em;
    border-radius: 100%;
    margin-left: 6em;
}
.team > .row-2 > .box-2 > h4{
    text-align: center;
}
.team > .row-2 > .box-2 > h3{
    text-align: center;
}
/*::::::::::::: Row 2 ends :::::::::::: */

/*::::::::::::: Row 3 starts :::::::::::: */
.team > .row-3{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 10px;
    margin-left: 7em;
}
.team > .row-3 > .box-3{
    height: auto;
    width: 60%;
    border: 1px solid #263731;
    box-shadow: 5px 5px 10px #386745;
    margin-bottom: 1em;
}
.team > .row-3 > .box-3 > img{
    width: 6em;
    height: 6em;
    border-radius: 100%;
    margin-left: 6em;
}
.team > .row-3 > .box-3 > h4{
    text-align: center;
}
.team > .row-3 > .box-3 > h3{
    text-align: center;
}
/*::::::::::::: Row 3 ends :::::::::::: */
/* Team section ends */



